<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/category.css"/>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="js/category.js"></script>

</head>
<body>
<!--头部-->
<div class="layout">
    <header class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">乐淘项目</h1>
        <span class="mui-icon mui-icon-search mui-pull-right"></span>
    </header>
    <!--尾部-->
    <nav class="mui-bar mui-bar-tab footer">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item  mui-active" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon fa  fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="content">
        <div class="cate-left">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--这里放置真实显示的DOM内容-->
                    <div class="categories" id="links">

                    </div>
                </div>
            </div>
        </div>
        <div class="cate-right">
            <div class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <!--这里放置真实显示的DOM内容-->
                    <div class="cate-pro">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="categoryTmp" type="text/html">
    <% for(var i=0;i<data.length;i++){ %>
        <a href="#" data-id="<%= data[i].id %>"><%= data[i].categoryName %></a>
    <% } %>
</script>
<script id="category-second" type="text/html">
    <% for(var i=0;i<rows.length;i++) { %>
    <li>
        <a href="#">
            <img src="<%=rows[i].brandLogo %>" alt=""/>
            <p><%=rows[i].brandName %></p>
        </a>
    </li>
    <% } %>
    <% if(!rows.length){ %>
        <div class="noresult">暂无数据</div>
    <% } %>
</script>
<script>
    mui('.mui-scroll-wrapper').scroll({
        scrollY: true, //是否竖向滚动
        scrollX: false, //是否横向滚动
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });
</script>
</body>
</html>