* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.mui-bar {
    background-color: #3e92f7;
}
.mui-bar span {
    color: #fff;
}




