.my-header {
  background-color: #2196f3;
}
.my-header .mui-title,
.my-header .mui-icon-search {
  color: #ffffff;
}
.footer {
  background-color: #2196f3;
}
.footer .mui-tab-item.mui-active > span {
  color: #ec971f;
}
.footer span {
  color: #ffffff;
}
.mui-content {
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  padding-top: 45px;
}
.mui-content .nav-link {
  padding: 10px;
  overflow: hidden;
}
.mui-content .nav-link > a {
  float: left;
  width: 33.3333%;
}
.mui-content .nav-link > a img {
  width: 100%;
  vertical-align: top;
}
.mui-content .brand {
  padding: 0 10px;
  overflow: hidden;
}
.mui-content .brand .title {
  width: 100%;
}
.mui-content .brand a {
  width: 25%;
  float: left;
}
.mui-content .brand a img {
  width: 100%;
  display: block;
}
.mui-content .product {
  padding: 0 10px;
  overflow: hidden;
}
.mui-content .product .title {
  width: 100%;
}
.mui-content .product ul li {
  padding: 5px;
  width: 50%;
  float: left;
  text-align: center;
}
.mui-content .product ul li a {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
}
.mui-content .product ul li a img {
  width: 100%;
  display: block;
}
.mui-content .product ul li a span {
  font-size: 14px;
  color: #8f8f94;
}
.mui-content .product ul li a p > span {
  color: red;
}
.mui-content .product ul li a p > span:last-of-type {
  color: #ccc;
  text-decoration: line-through;
}
.mui-content .product ul li a button {
  background: #2196f3;
  color: #fff;
  margin-bottom: 10px;
}
