.mui-icon-back,
.mui-title {
  color: #fff;
}
.mui-content {
  background: #fff;
}
.mui-content .filter {
  text-align: center;
  width: 94%;
  margin: 10px auto 0 auto;
}
.mui-content .filter .mui-col-xs-6 {
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  background: #efeff4;
}
.mui-content .filter .mui-col-xs-6 .mui-icon {
  font-size: 14px;
}
.mui-content .product {
  padding: 0 10px;
  overflow: hidden;
}
.mui-content .product .title {
  width: 100%;
}
.mui-content .product ul li {
  padding: 5px;
  width: 50%;
  float: left;
  text-align: center;
}
.mui-content .product ul li a {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 5px #ccc;
}
.mui-content .product ul li a img {
  width: 100%;
  display: block;
}
.mui-content .product ul li a span {
  font-size: 14px;
  color: #8f8f94;
}
.mui-content .product ul li a p > span {
  color: red;
}
.mui-content .product ul li a p > span:last-of-type {
  color: #ccc;
  text-decoration: line-through;
}
.mui-content .product ul li a button {
  background: #2196f3;
  color: #fff;
  margin-bottom: 10px;
}
